a:hover{
color: blue;
background-color: brown;

}
a:visited{
color: red;
background-color: aqua;
}
a:active{
color: green;
background-color: red;
}
a:link{
color: blueviolet;
background-color: blue;
}
.new::first-letter{
    font-size: 24px;
    color: brown;
}
.old::first-line{
    font-style: italic;
}
.last:before{
    content:"Lesson!"
}
.last:after{
    content:"Old Lesson"
}
p::selection{
    color: rgb(194, 183, 183);
    background-color: black;
}
