body{
    width: 960px;
    margin: 0 auto;
    background-color: #d44;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-size: 2em;
    border-bottom: dotted 2px #fff;
    padding-bottom: 5px;
}
p{
    margin-bottom: 20px;
}
.subform{
    font-size: 1.1em;
    color: #fff;
}
.subform label{
    display: inline-block;
    width: 220px;
    vertical-align: top;
    margin-right: 10px;
    font-weight: bold;
}
.subform input[type="submit"]{
    margin-left: 235px;
    padding: 6px 20px;
    font-size: 1em;
    background: rgb(0, 106, 160);
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 3px #fff;
    color: #fff;
}
.subform input[type="radio"]{
    margin-left: 45px;
}
.subform input[type="text"], .subform input[type="email"], .subform textarea{
    border-radius: 5px;
    border: none;
    background: #fff;
    color: red;
    box-shadow: 0 0 3px #fff;
    padding: 3px;
    width: 530px;
}
.subform input[type="text"]:focus, .subform input[type="email"]:focus, .subform textarea:focus{
    background: rgb(0, 106, 160);
    color: #000;
}
